<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drjt.jiemai.dao.FinancialMapper" >
  <resultMap id="BaseResultMap" type="com.drjt.jiemai.pojo.Financial" >
    <id column="fin_id" property="finId" jdbcType="INTEGER" />
    <result column="bra_id" property="braId" jdbcType="INTEGER" />
    <result column="bor_id" property="borId" jdbcType="INTEGER" />
    <result column="fin_name" property="finName" jdbcType="VARCHAR" />
    <result column="fin_pramount" property="finPramount" jdbcType="DOUBLE" />
    <result column="fin_number" property="finNumber" jdbcType="INTEGER" />
    <result column="trading_time" property="tradingTime" jdbcType="DATE" />
    <result column="fin_regdate" property="finRegdate" jdbcType="DATE" />
    <result column="fin_moddate" property="finModdate" jdbcType="DATE" />
    <result column="fin_operation" property="finOperation" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fin_id, bra_id, bor_id, fin_name, fin_pramount, fin_number, trading_time, fin_regdate, 
    fin_moddate, fin_operation
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from financial
    where fin_id = #{finId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from financial
    where fin_id = #{finId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.drjt.jiemai.pojo.Financial" >
    insert into financial (fin_id, bra_id, bor_id, 
      fin_name, fin_pramount, fin_number, 
      trading_time, fin_regdate, fin_moddate, 
      fin_operation)
    values (#{finId,jdbcType=INTEGER}, #{braId,jdbcType=INTEGER}, #{borId,jdbcType=INTEGER}, 
      #{finName,jdbcType=VARCHAR}, #{finPramount,jdbcType=DOUBLE}, #{finNumber,jdbcType=INTEGER}, 
      #{tradingTime,jdbcType=DATE}, #{finRegdate,jdbcType=DATE}, #{finModdate,jdbcType=DATE}, 
      #{finOperation,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.drjt.jiemai.pojo.Financial" >
    insert into financial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="finId != null" >
        fin_id,
      </if>
      <if test="braId != null" >
        bra_id,
      </if>
      <if test="borId != null" >
        bor_id,
      </if>
      <if test="finName != null" >
        fin_name,
      </if>
      <if test="finPramount != null" >
        fin_pramount,
      </if>
      <if test="finNumber != null" >
        fin_number,
      </if>
      <if test="tradingTime != null" >
        trading_time,
      </if>
      <if test="finRegdate != null" >
        fin_regdate,
      </if>
      <if test="finModdate != null" >
        fin_moddate,
      </if>
      <if test="finOperation != null" >
        fin_operation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="finId != null" >
        #{finId,jdbcType=INTEGER},
      </if>
      <if test="braId != null" >
        #{braId,jdbcType=INTEGER},
      </if>
      <if test="borId != null" >
        #{borId,jdbcType=INTEGER},
      </if>
      <if test="finName != null" >
        #{finName,jdbcType=VARCHAR},
      </if>
      <if test="finPramount != null" >
        #{finPramount,jdbcType=DOUBLE},
      </if>
      <if test="finNumber != null" >
        #{finNumber,jdbcType=INTEGER},
      </if>
      <if test="tradingTime != null" >
        #{tradingTime,jdbcType=DATE},
      </if>
      <if test="finRegdate != null" >
        #{finRegdate,jdbcType=DATE},
      </if>
      <if test="finModdate != null" >
        #{finModdate,jdbcType=DATE},
      </if>
      <if test="finOperation != null" >
        #{finOperation,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.drjt.jiemai.pojo.Financial" >
    update financial
    <set >
      <if test="braId != null" >
        bra_id = #{braId,jdbcType=INTEGER},
      </if>
      <if test="borId != null" >
        bor_id = #{borId,jdbcType=INTEGER},
      </if>
      <if test="finName != null" >
        fin_name = #{finName,jdbcType=VARCHAR},
      </if>
      <if test="finPramount != null" >
        fin_pramount = #{finPramount,jdbcType=DOUBLE},
      </if>
      <if test="finNumber != null" >
        fin_number = #{finNumber,jdbcType=INTEGER},
      </if>
      <if test="tradingTime != null" >
        trading_time = #{tradingTime,jdbcType=DATE},
      </if>
      <if test="finRegdate != null" >
        fin_regdate = #{finRegdate,jdbcType=DATE},
      </if>
      <if test="finModdate != null" >
        fin_moddate = #{finModdate,jdbcType=DATE},
      </if>
      <if test="finOperation != null" >
        fin_operation = #{finOperation,jdbcType=INTEGER},
      </if>
    </set>
    where fin_id = #{finId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.drjt.jiemai.pojo.Financial" >
    update financial
    set bra_id = #{braId,jdbcType=INTEGER},
      bor_id = #{borId,jdbcType=INTEGER},
      fin_name = #{finName,jdbcType=VARCHAR},
      fin_pramount = #{finPramount,jdbcType=DOUBLE},
      fin_number = #{finNumber,jdbcType=INTEGER},
      trading_time = #{tradingTime,jdbcType=DATE},
      fin_regdate = #{finRegdate,jdbcType=DATE},
      fin_moddate = #{finModdate,jdbcType=DATE},
      fin_operation = #{finOperation,jdbcType=INTEGER}
    where fin_id = #{finId,jdbcType=INTEGER}
  </update>
</mapper>